[submodule "shared-core"]
	path = shared-core
	url = https://github.com/sturionInterativa/shared-core.git
	branch = main
[submodule "integracao-a"]
	path = integracao-a
	url = https://github.com/sturionInterativa/integracao-a.git
	branch = main
[submodule "integracao-b"]
	path = integracao-b
	url = https://github.com/sturionInterativa/integracao-b.git
	branch = main
[submodule "hub-principal"]
	path = hub-principal
	url = https://github.com/sturionInterativa/hub-principal.git
	branch = main
